# AWS Amplify Configuration
VITE_COGNITO_USER_POOL_ID=tu_user_pool_id
VITE_COGNITO_CLIENT_ID=tu_client_id
VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_REALTIME_API_ENDPOINT=tu_endpoint_graphql
